<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Online Store</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    {{!-- <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="material-icons">business</i></a> --}}
    {{!-- {{#if loggedIn}}
      <ul class="right hide-on-med-and-down">
        <li><a href="/homepage"><i class="material-icons">account_balance</i></a></li>
      </ul>
      <button id="logout" class="btn-no-style">logout</button>
      {{else}}
      <ul class="right hide-on-med-and-down">
        <li><a href="/login"><i class="material-icons">transfer_within_a_station</i></a></li>
      </ul>
      {{/if}} --}}
      <div>
        {{#if loggedIn}}
        <a href="/products">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
     </div>
       {{!-- <div>
    <button id="logout" class="btn-no-style">logout</button>
    <a href="/login">login</a>
    </div> --}}

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#"><i class="large material-icons">business</i></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    
  </nav>
  
  <main>
    {{{ body }}}
  </main>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of aspiring entrepreneurs just like you. We created Online Store because it was impossible to find an ecommerce platform that were limiting our profits and sales. We were tired of trials and validation in order to start selling products. So we created a space where anyone can just sign up and sell anything that they want at any time! No limitations</p>


        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/chavue91">Cha Vue</a></li>
            <li><a class="white-text" href="https://github.com/evanpauly">Evan Pauly</a></li>
            <li><a class="white-text" href="https://github.com/rharris529">Ryan Harris</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/evanpauly/Online-Store">Team 5</a>
      </div>
    </div>
  </footer>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/logout.js"></script>
  
  </body>
</html>
