<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Online Store</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="./homepage.html" class="brand-logo"><i class="material-icons">business</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="./cart.html"><i class="material-icons">add_shopping_cart</i></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#"><i class="large material-icons">business</i></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Open your online store now!</h1>
      <div class="row center">
        <h5 class="header col s12 light">An online space to create your own ecommerce business</h5>
      </div>
      <div class="row center">
        <a href="../login.handlebars" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href='./shop.html'><i class="material-icons">store</i></a></h2>
            <h5 class="center">Buy and Sell</h5>

            <p class="light">We created this online space for you! Create an account to start your own ecommerce business that will allow you to post ads for anything that you would like to sell, straight from the comfort of your own home. Or browse all available items for sale!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href='./user.html'><i class="material-icons">group</i></a></h2>
            <h5 class="center">My Account</h5>

            <p class="light">Sign in, or create an account now to start your next online business adventure or to start buying available items.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">all_inclusive</i></h2>
            <h5 class="center">No limitations!</h5>

            <p class="light">Starting your own online business has been made easy by us! Sign up now and start selling anything at any time you want!</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
  <main>
    {{{ body }}}
  </main>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of aspiring entrepreneurs just like you. We created Online Store because it was impossible to find an ecommerce platform that were limiting our profits and sales. We were tired of trials and validation in order to start selling products. So we created a space where anyone can just sign up and sell anything that they want at any time! No limitations</p>


        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/chavue91">Cha Vue</a></li>
            <li><a class="white-text" href="https://github.com/evanpauly">Evan Pauly</a></li>
            <li><a class="white-text" href="https://github.com/rharris529">Ryan Harris</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/evanpauly/Online-Store">Team 5</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  <script src="/public/js/login.js"></script>

  </body>
</html>
