<section>
  <h2>Add New Product</h2>

  <form class="new-product-form">
    <div>
      <label for="post-title">Product</label>
      <input type="text" id="product-name" name="product-name" />
    </div>
    <div>
      <label for="price">Price</label>
      <input id="price" name="price" />
    </div>
    <div>
      <label for="stock">Stock</label>
      <input id="stock" name="stock" />
    </div>
    <button type="submit" class="btn">Add</button>
  </form>
</section>

{{!-- {{#if product.length}}
<section>
  <h2>Your product</h2>
  <ol>
    {{#each products as |product|}}
    <li>
      {{> product-info product}}
      <a href="/dashboard/edit/{{product.id}}" class="edit-link">Edit product</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

<script src="../public/js/add-product.js"></script>
