{{!-- {{> product-info product}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add product</button>
  </div>
</form>
{{/if}}



{{#if loggedIn}}
<script src="/js/add-product.js"></script>
<script src="/js/edit-product.js"></script>
{{/if}} --}}